{% extends 'base.html.twig' %}

{% block title %}View CSV File{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>{{ file.name }}</h2>
            </div>
            <div class="col">
                <h3>Uploaded: {{ file.uploadDate|date('m/d/Y h:i:s T') }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        {% for header in file.getHeaderRow() %}
                            <th>{{ header.value }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in file.getCellRows() %}
                        <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% if rowCount > limit %}
<ul class="pagination">
    <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}>
        <a class="page-link" href="{{ path('view_file', {uuid: thisUuid, page: 1}) }}">««</a>
    </li>

    <li class="page-item" {{ thisPage == 1 ? 'class="disabled"' }}>
        <a class="page-link" href="{{ path('view_file', {uuid: thisUuid, page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
    </li>
    {% if rowCount < 5 * limit %}
        {% for i in 1..rowCount / limit %}
        <li class="page-item" {{ thisPage == i ? 'class="active"' }}>
        <a class="page-link" href="{{ path('view_file', {uuid: thisUuid, page: i}) }}">{{ i }}</a>
        </li>
        {% endfor %}
    {% else %}
        {% for i in thisPage..5 + thisPage %}
        <li class="page-item" {{ thisPage == i ? 'class="active"' }}>
        <a class="page-link" href="{{ path('view_file', {uuid: thisUuid, page: i}) }}">{{ i }}</a>
        </li>
        {% endfor %}
    {% endif %}

    <li class="page-item" {{ thisPage == rowCount / limit ? 'class="disabled"' }}>
        <a class="page-link" href="{{ path('view_file', {uuid: thisUuid, page: thisPage+1 <= rowCount / limit ? thisPage+1 : thisPage}) }}">»</a>
    </li>

    <li class="page-item" {{ thisPage == rowCount / limit ? 'class="disabled"' }}>
    <a class="page-link" href="{{ path('view_file', {uuid: thisUuid, page: rowCount / limit}) }}">»»</a>
    </li>
</ul>
{% endif %}
{% endblock %}